<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HireBook</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link
  href="img/favicon.png"
  rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <style>
    @media screen and (min-width: 701px) and (max-width:3000px) {
      .avatar {
        margin-left: 10px;
        vertical-align: middle;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .avatar2 {
        vertical-align: middle;

        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    @media screen and (min-width: 0px) and (max-width:700px) {
      .avatar {
        display: none;
      }
    }
  </style>
</head>

<body style="overflow-y:scroll;">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <img src="img/logo2.png" alt="" class="img-fluid"  >
      <h1 class="logo me-auto title"><a href="#">HireBook<br /><span style="font-size: 15px;" class="typed"
            data-typed-items="By the Indians,For the Indians"></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/Homepage2" style="font-family:poppins ; font-weight: 500; font-size: medium;">Home</a></li>
          <li><a href="/freelancers" style="font-family:poppins ; font-weight: 500;font-size: medium;">Freelancers</a>
          </li>
          <li><a href="/Projects" style="font-family:poppins ; font-weight: 500;font-size: medium;">Projects</a></li>
          <li><a href="/contact" style="font-family:poppins ; font-weight: 500;font-size: medium;">Contact</a></li>
          <li><a href="/ProjectEdit" style="font-family:poppins ; font-weight: 500;font-size: medium;">Post a
              Project</a></li>
          <li><a href="/GigEdit" style="font-family:poppins ; font-weight: 500;font-size: medium;">Create a gig</a></li>
          <li class="active"><a href="/help" style="font-family:poppins ; font-weight: 500;font-size: medium;">Help</a>
          </li>


        </ul>
      </nav><!-- .nav-menu -->
      <!-- Example single danger button -->
      <a href="/sidebar" class="get-started-btn">Profile</a>
    
      <!-- <a href="Profile.html"> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar"></a>  -->
    </div>
  </header><!-- End Header -->

  <div class="row" style="margin-top: 100px;">
    <div class="col-xl-3 col-sm-12">
      <div class="card">
        <div class="title text-center">
          <p><b>Frequently asked questions</b></p>
        </div>
      
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <span style="color: black; font-weight:bold;"> How to Create a Gig?</span>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on create a gig on Navbar.</li>
                <li>Enter the required details.</li>
                <li>Enter the link to your samples.</li>
                <li>Upload the thumbnail for your Gig.</li>
                <li>After that click on Submit Button.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Edit a Gig?</span>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on profile on Navbar.</li>
                <li>Click on gigs tab present in sidebar.</li>
                <li>Select the gig you want to edit.</li>
                <li>Click on Edit gig.</li>
                <li>Do the required changes and click on submit button to save changes.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Post a Project?</span>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on Post a Project on Navbar.</li>
                <li>Enter the required details.</li>
                <li>Enter the link of your website.</li>
                <li>Upload the logo of your company.</li>
                <li>After that click on Submit Button.</li>
              </ul>
            </div>
          </div>
        </div>
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Edit a Project?</span>
              </button>
            </h5>
          </div>
          <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on profile on Navbar.</li>
                <li>Click on Posted Projects tab present in sidebar.</li>
                <li>Select the project you want to edit.</li>
                <li>Click on Edit button.</li>
                <li>Do the required changes and click on submit button to save changes.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingfive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Apply for Project?</span>
              </button>
            </h5>
          </div>
          <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on Projects on Navbar.</li>
                <li>View the details.</li>
                <li>Click on contact/Apply Now.</li>
                <li>Chat with the client for confirmation.</li>
                <li>Click on confirm button present in In touch tab of sidebar in profile section.</li>
                <li>Your project will be now send to active project tab in sidebar.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingsix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Hire Freelancer?</span>
              </button>
            </h5>
          </div>
          <div id="collapsesix" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on Freelancers on Navbar.</li>
                <li>Select the freelancer according to your job.</li>
                <li>Click on the gig of freelancer.</li>
                <li>Chat with the freelancer for confirmation.</li>
                <li>Deposit the amounnt equal to gig of the freelancer.</li>
                <li>Click on confirm button present in In touch tab of sidebar in profile section.</li>
                <li>Your project will be now send to active project tab in sidebar.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingsev">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesev" aria-expanded="false" aria-controls="collapsev" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Withdraw Money?</span>
              </button>
            </h5>
          </div>
          <div id="collapsesev" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on Profile on Navbar.</li>
                <li>Click on Wallet tab of sidebar.</li>
                <li>Click on edit bank details to fill bank information.</li>
                <li>Click on withdraw button enter the amount to be withdrawn.</li>
                <li>You'll get pop-up of confirmation.</li>
                <li>Your money will be sent to your bank within 2 hours.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingeight">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapeight" style="text-decoration: none;">
                <span style="color: black; font-weight:bold;"> How to Deposit Money?</span>
              </button>
            </h5>
          </div>
          <div id="collapseeight" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Click on Profile on Navbar.</li>
                <li>Click on Wallet tab of sidebar.</li>
                <li>Click on Deposit button.</li>
                <li>Select the desired method to deposit money.</li>
                <li>After Successful deposit your amount will be reflected in deposited amount field in wallet section.</li>
               
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </div>
    <div class="col-xl-9 col-sm-12">
     <div class="row">
      <div class="col-xl-6 col-sm-12">
        <div class="card" style="margin:5px;"align="center">
          <h4 style="padding-top: 5px; padding-left:5px;">How to Sign UP/ Sign In?</h4>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/zxZ1JDX5fMs" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div>
      <div class="col-xl-6 col-sm-12">
        <div class="card" style="margin:5px;"align="center">
          <h4 style="padding-top: 5px; padding-left:5px;">How to create a Profile?</h4>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/uKOH6YMhs2E" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div>

     </div>
     <div class="row">
      <div class="col-xl-6 col-sm-12">
        <div class="card" style="margin:5px;"align="center">
          <h4 style="padding-top: 5px; padding-left:5px;">How to Post a Project?</h4>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/JislNIlsZhg" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div>
      <div class="col-xl-6 col-sm-12">
        <div class="card" style="margin:5px;"align="center">
          <h4 style="padding-top: 5px; padding-left:5px;">How to create a Gig?</h4>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/ySocnLeWN6g" frameborder="0" allowfullscreen></iframe>
        </div>
       
      </div>

     </div>
     
    </div>


  </div>



  <!-- ======= Footer ======= -->
  <footer id="footer" class="fixed">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>HireBook</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="/team">Team @HireBook</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/aos/aos.js"></script>

  <!-- Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>