<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HireBook</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <img src="img/logo2.png" alt="" class="img-fluid">
      <h1 class="logo me-auto title"><a href="/index">HireBook<br /><span style="font-size: 15px;" class="typed"
            data-typed-items="By the Indians,For the Indians"></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="signup">Home</a></li>
          <li><a href="/Freelancers">Freelancers</a></li>
          <li><a href="/Projects">Projects</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="/help">Help</a></li>

        </ul>
        <div class="animation start-home"></div>
      </nav><!-- .nav-menu -->
      <a href="/signup" class="get-started-btn">Get-started</a>
    </div>
  </header>
  <!--======= End Header===== -->

  <!-- ======= Hero Section ======= -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="width:100%;height:80vh; margin-top: 90px;"
         src="img/FreelancersCards/dbms/2.png" alt="...">
      
        <div class="carousel-caption d-none d-md-block">
          <section id="hero">
            <div class="container position-relative" style="margin-bottom: 100px;" data-aos="zoom-in" data-aos-delay="100" align="left">
              <!-- <h1>Learning Today,<br>Leading Tomorrow</h1>
              <h2>We are team of talanted designers and developers</h2> -->
              <a href="/projectEdit" class="btn-get-started">Post a job</a>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item">
        <img style="width:100%;height:80vh;margin-top: 90px;"
        
        src="img/FreelancersCards/dbms/dbms (1).png"
        alt="...">
        <div class="carousel-caption d-none d-md-block">
          <section id="hero">
            <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100" align="left">
              <!-- <h1>Learning Today,<br>Leading Tomorrow</h1>
              <h2>We are team of talanted designers and developers</h2> -->
              <a href="/GigEdit" class="btn-get-started">Start Working</a>
            </div>
          </section>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <div class="containers">

      <div class="cardswhyus">
        <div class="boxwhyus">
          <div class="contentwhyus">

            <h3>Why Choose Us?</h3>
            <p>Indian Freelancers work on websites like freelancer, Fiverr. Those who are working on it for a long time
              easily get projects but the recruits who want to do freelancing to increase their passive income doesn't
              get projects, so they switch to unofficial platforms like FB & WhatsApp groups, and in many cases after
              completing the project, clients stop responding to them & they remain unpaid for their work. So we aim to
              provide them an official & trusted platform to work & easily get clients. Not getting projects and being
              paid for the work are the major problems.</p>



          </div>


        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3>Withdrawl System</h3>
            <p>Payment is done in dollars so Indians have to use 3rd property (NETeller, Skrill, PayPal) which takes
              their own commissions. We'll give options to directly withdraw from the bank using UPI, Paytm.</p>



          </div>


        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2>02</h2>
            <h3>We don't charge for premium</h3>
            <p>Many sites require premium membership after applying for a certain no. of projects in 1 month.
              And some sites take high commissions around 20% at the time of withdrawal we'll not restrict freelancers
              to apply on limited no. of projects.</p>

          </div>


        </div>
      </div>

      <div class="cards">
        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3>Long term and short term</h3>
            <p>Availability of long term & Short term option. With the help of this option, anyone can hire people for a
              longer duration doing the same kind of task again and again based on the option marked by the freelancer.
            </p>



          </div>


        </div>
      </div>


    </div><!-- End Why Us Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Hear from Our Clients</h2>
          <p>Testimonials</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I got some real amazing talent. The students are really skilled. Really nice
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I got some real amazing talent. The students are really skilled. Really nice
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item mt-4">
              <img src="img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item mt-4">
              <img src="img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Student</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item mt-4">
              <img src="img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
              <h3>Emily Harison</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Eius ipsam praesentium dolor quaerat inventore rerum odio. Quos laudantium adipisci eius. Accusamus qui
                iste cupiditate sed temporibus est aspernatur. Sequi officiis ea et quia quidem.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">

    </section><!-- End Popular Courses Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>HireBook</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="/team">Team @HireBook</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <!-- Main JS File -->
  <script src="js/main.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>