<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HireBook</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link
  href="img/favicon.png"
  rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="css/signup&login.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <style>
    @media screen and (min-width: 701px) and (max-width:3000px) {
      .avatar {
        margin-left: 10px;
        vertical-align: middle;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .avatar2 {
        vertical-align: middle;

        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    @media screen and (min-width: 0px) and (max-width:700px) {
      .avatar {
        display: none;
      }
    }
    .indicator{
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:10px 0px;
      display: none;
    }
    .indicator span{
      width: 100%;
      height: 100%;
      background-color: lightgray;
      border-radius: 5px;
      position: relative;
    }
    .indicator span.medium{
      margin:0 3px;
    }
    .indicator span:before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    .indicator span.active.weak:before{
      background-color: #ff4757;
    }
    .indicator span.active.medium:before{
      background-color: orange;
    } .indicator span.active.strong:before{
      background-color: green;
    }
    .text{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
      display: none;
    }
    .text.weak{
      color:red;
    }
    .text.medium{
      color: orange;
    }
    .text.strong{
      color:green
    }
  </style>
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <img src="img/logo2.png" alt="" class="img-fluid"  >
      <h1 class="logo me-auto title"><a href="#"> HireBook<br /><span style="font-size: 15px;" class="typed"
            data-typed-items="By the Indians,For the Indians"></span></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/Homepage2" style="font-family:poppins ; font-weight: 500;font-size: medium;">Home</a></li>
          <li><a href="/freelancers" style="font-family:poppins ; font-weight: 500;font-size: medium;">Freelancers</a>
          </li>
          <li><a href="/Projects" style="font-family:poppins ; font-weight: 500;font-size: medium;">Projects</a></li>
          <li><a href="/contact" style="font-family:poppins ; font-weight: 500;font-size: medium;">Contact</a></li>
          <li><a href="/help" style="font-family:poppins ; font-weight: 500;font-size: medium;">Help</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <section>
    <div class="container">
      <div class="user signinbx">

        <div class="formbx">
          <form   action="/signup" method="POST">
            <h2>Create an Account</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Enter email" required>
            <input onkeyup="trigger()" name="password" autocomplete="new-password" type="password" class="password" placeholder="Create password" required>
            <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
            </div>
            <div class="text" align='center'> </div>
            <script>
              const indicator = document.querySelector(".indicator")
              const input = document.querySelector(".password")
              const weak = document.querySelector(".weak")
              const medium = document.querySelector(".medium")
              const strong = document.querySelector(".strong")
              const text = document.querySelector(".text")
              let regExpWeak = /[a-z]/;
              let regExpMed = /\d+/;
              let regExpStrong = /.[*,.,!,@,#,$,%,^,&,(,),{,},?,/,~,_,+,-,=,|,]/
              function trigger(){

                if(input.value!=""){
                  indicator.style.display="block"
                  indicator.style.display="flex"
                    if(input.value.length<=3 &&(input.value.match(regExpWeak) ||input.value.match(regExpMed)|| input.value.match(regExpStrong)))no=1
                    if(input.value.length>=6 &&((input.value.match(regExpWeak) && input.value.match(regExpMed))||(input.value.match(regExpWeak) && input.value.match(regExpStrong))))no=2
                    if(input.value.length>=6 && input.value.match(regExpWeak) && input.value.match(regExpMed) && input.value.match(regExpStrong))no=3
                  if(no==1){
                    weak.classList.add("active");
                    text.style.display="block";
                    text.textContent="Your Password is too weak"
                    text.classList.add("weak");
                  }
                  if(no==2){
                    medium.classList.add("active");
                    text.textContent="Your Password is medium"
                    text.classList.add("medium");
                  }else{
                    medium.classList.remove("active");
                    text.classList.remove("medium");
                  }
                  if(no==3){
                    medium.classList.add("active");
                    strong.classList.add("active");
                    text.textContent="Your Password is strong"
                    text.classList.add("strong");
                  }else{
                    strong.classList.remove("active");
                    text.classList.remove("strong");
                  }
                  }else{
                  indicator.style.display="none"
                  text.style.display="none"
                }
              }
            </script>
            <input type="password" autocomplete="nope" name="confirmpassword" placeholder="Confirm password" required>
            <input type="text" name="referralcode" placeholder="Enter referral code" >
            <input type="submit" style="background-color: #302b63; color: white;" class="w-100 btn " name=""
              value="SIGN UP">
            <p class=" signup">Already have an account ?<a href="/signin">Sign IN</a> </p>
          </form>
        </div>
        <div class="imgbx"><img src="img/bg2.png"></div>
      </div>

    </div>
  </section>
  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <!-- Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>