<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teampage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/team.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>
<body>
    <h1 class="heading" style="color: white; margin:10px;"> Our Team</h1>  
    <div class="card-deck" style="margin: 10px;">
        <div class="card">
          <img class="card-img-top profile-img " src="img/Akash.jpeg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Akash Singh</h3>
            <h5>19bcs007</h5>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li style="--i:2">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li style="--i:3">
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
            
          </div>
        </div>
        <div class="card">
            <img class="card-img-top profile-img " src="img/Anmol.jpeg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Anmol Kumar</h3>
              <h5>19bcs011</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
          <div class="card">
            <img class="card-img-top profile-img " src="img/Bipul.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Bipul Gautam</h3>
              <h5>19bcs023</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
        
        
      </div>
      <div class="card-deck" style="margin: 10px;">
        <div class="card">
          <img class="card-img-top profile-img " src="img/chaitanya.jfif" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Chaitanya S Hegde</h3>
            <h5>19bcs027</h5>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li style="--i:2">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li style="--i:3">
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
            
          </div>
        </div>
        <div class="card">
            <img class="card-img-top profile-img " src="img/shivathmika.jpeg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">CH. Shivathmika</h3>
              <h5>19bcs029</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
          <div class="card">
            <img class="card-img-top profile-img " src="img/me.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Divyansh Tripathi</h3>
              <h5>19bcs039</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
        
        
      </div>
      <div class="card-deck" style="margin: 10px;">
        <div class="card">
          <img class="card-img-top profile-img " src="img/Reha2.jpeg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">K. Rehasree</h3>
            <h5>19bcs057</h5>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li style="--i:2">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li style="--i:3">
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
            
          </div>
        </div>
        <div class="card">
            <img class="card-img-top profile-img " src="img/Such.jpeg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">K. Sucharitha</h3>
              <h5>19bcs058</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
          <div class="card">
            <img class="card-img-top profile-img " src="img/Dinesh.jpeg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">K. Dinesh</h3>
              <h5>19bcs060</h5>
              <ul class="sci">
                  <li style="--i:1">
                      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:2">
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li style="--i:3">
                      <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
              
            </div>
          </div>
        
        
      </div>
     
</body>
</html>