<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto title"><a href="/index">HireBook<br /><span style="font-size: 15px;" class="typed"
            data-typed-items="By the Indians,For the Indians"></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="signup">Home</a></li>
          <li><a href="/Freelancers">Freelancers</a></li>
          <li><a href="/Projects">Projects</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="/help">Help</a></li>

        </ul>
        <div class="animation start-home"></div>
      </nav><!-- .nav-menu -->
      <a href="/signup" class="get-started-btn">Get-started</a>
    </div>
  </header>